
#smooth-wrapper, #smooth-content {
  height: 100%;
}

.panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

/* .red { background: #e63946; }
.orange { background: #f77f00; }
.purple { background: #7209b7; }
.green { background: #2a9d8f; } */
