



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', Helvetica, Arial, 'sans-serifInter', sans-serif;
   background-color: #618df3; 

  color: #f1f5f9; 

  scroll-behavior: smooth;
  line-height: 1.6;
}


 html {
    font-family: 'Manrope', Helvetica, Arial, sans-serif;
    width: 100vw !important;
  }
 

html, body {
  overflow-x: hidden;
}